body{
    margin: 0;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',Verdana, sans-serif;
}



.main{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}

.nav-container{
    width: 15%;
    overflow: auto;
    position: fixed;
    border-radius: 8px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 100%;
    
  }

  li {
    border-bottom: 2px solid black;
    background-color: #ff8533;
  }
  
  li:last-child {
    border-bottom: none;
  }
  
  li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #ff6600;
    color: black;
  }
  
  .container2{
    margin-top: 20px;
    float: right;
    width: 70%;
    border-radius: 5px;
  }

  .container3{
    background-color: wheat;
    width: 70%;
    display: flex;
    float: right;
    border-radius: 8px;
  }

  .container3 h1{
    text-align: center;
    font-size: 25px;
  }
